footer{
	padding: 5px;
	background: #006FFF;
	color: white;
}

footer a{
	text-decoration: none;
	color: white;
}

footer a:hover{
	color: #C00000;
}

header{
	background: #D8D8D8;
	/*background: url(../image/unknown22.png);*/
}

#img_fot{
	width: 100px;
}	

.container-big {
	max-width: 1250px;
}

.promo-form{
	background: #EAEAEA;
}

.header-top {
	background: #065987;
	color: white;
}
.header__info-top {
	padding: 5px 0;
	margin-bottom: 0;
}
.nav-header-top > ul{
	display:flex;
	margin: 0;
	justify-content:flex-end;
	gap: 15px;
	padding-top: 5px
}
.header-top-row {
	justify-content: space-between;
}
.nav-item {
	list-style: none;
	align-items: center;
}
.nav-item > a{
	text-decoration: none;
	color: white;
}
.logo {
	width: 250px;
	
}
.header-main-content {
	gap: 2vw;
	align-items:center;
	padding: 15px 0;
}
.content-phone > a {
	color: #D80000;
	text-decoration: none;
	font-size: 35px;
	font-weight: 600;
	font-size: 27px;

}
.content-phone {
	display:flex;
	align-items: center;

}

/*.header-main {*/
	/*background: #F1EDED;*/
/*}*/
.time-work {
	display:flex;
	align-items: center;

}
.bi-clock {
	font-size: 32px;
}

.time-work > p {
	width: 200px;
	padding-top: 15px;
	margin-left: 5px;
}
.client-card {
	display: flex;
	align-items: center;
}
.promo-form {
	display: flex;
	align-items: center;
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.31);
	width: 15vw;

}
.promo-block > input {
	background: inherit;
	padding: 12px 20px ;
	outline: none;
	border: none;
	width: 10vw;
	max-width: 180px;
}
.client-col {
	display: flex;
	align-items: center;
	justify-content: center;
}
.promo-block > button{

	border-radius: 50%;
	border: none;
	background: rgba(0, 0, 0, 0.1);
	width: 30px;
	height: 30px;
}
.basket-link {
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	font-size: 26px;
	color: white;
	background: rgba(226, 0, 0, 0.83);
	border-radius: 6px;
}
.basket {
	display: flex;
}
.client-card {
	gap: 1.5vw;
}
.quatity {

	background: #ff8c00;
	width: 20px;
	text-align: center;
	color: #050505;
	margin-left: -2px;
	border-radius: 7px;
	height: 20px;
	font-size: 13px;
}
.basket-link:hover {
	color: white;
 	background: rgba(226, 0, 0, 0.7);
}
h2 {
	display: block;
}
.goods-sum {
	display: flex;
	align-items: center;
}
.goods-sum-text {
	text-align: center;
	min-width: 100px;
	font-size: 25px;
}
.header-main {
	/*background: #a0a3a7;*/
	background: url(../image/unknown22.png);
	border-bottom: rgba(5, 5, 5, 0.15) 1px solid
}

.header-nav-goods > ul {
	justify-content: center;
	gap: 5%;
	margin: 0;
}
.header-nav-goods > ul > li {
	list-style-type: none;
	position: relative !important;
}
.header-nav-goods a {
	text-decoration: none;
	color: #050505;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
.header-nav-goods {
	padding: 12px 0;
	background: rgba(215, 215, 215, 0.49);
}
.header-nav-goods a:hover {
	color: rgba(192, 0, 0, 0.76);
}
.drop-menu {
	border-top: 4px solid #ec0202;
}
.drop-menu-rolls {
	display: flex;

}
.drop-menu-rolls  > li{
	list-style-type: none;
    margin: 0 auto;

}
.drop-menu  a {
	font-size: 15px !important;
	font-weight: 400;
	display: block;
	margin: 10px;
}

.drop-menu {
	padding: 5px;
	width: 110px;

	flex-direction: column;
	gap: 10px;
	position: absolute;
	left: -25px;
	top: 25px;

	background: rgba(231, 219, 219, 0.67);
	display: none;
	z-index: 9999;
}
.header-nav-goods li:hover .drop-menu {
	display: block;
}

.time-work {

}

@media (max-width: 1680px) {
.drop-menu-rolls {

}
}
@media (max-width: 1212px) {
	.logo {
		width: 150px;
	}
	.time-work {
		font-size: 13px;
		width: 17vw;
	}
	.time-work > i {
		font-size: 20px;
	}
	.col-main {
		width: 50vw;
	}
	.promo-form {
		width: 17vw;
	}
	.nav-header-top > ul {
		padding-left: 0px;
	}
	.header-nav-goods > ul {
		justify-content: center;
		gap: 4%;

	}
	.content-phone > a {
		font-size: 18px;
	}
	.drop-menu-rolls  {

	}
	.main-row {
		justify-content: center;
	}

}
@media (max-width: 1000px) {
	header {
		display: none;
	}
	.header-mobile {
		display: block !important;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
		background: rgba(241, 237, 237, 1);
		z-index: 999999999;
	}
	.mobile-card {
		z-index: 999999999;
		display: block !important;
	}

	main{
		/*position: absolute;*/
		margin-top: 80px;
	}

	footer{
		margin-bottom: 56px;
	}

}

.header-mobile {
	display: none;
}
.logo-mobile {
	margin-left: 50px;

}
.block-mobile-header {
	display: flex;
	justify-content: space-between;
}
.open-burger {
	font-size: 40px;
	margin-right: 50px;
	color: #C00000;
}

.mobile-card  {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(238, 0, 0, 1);
}
.card-basket {
	display: flex;
	justify-content: center;
	font-size: 24px;
	padding: 10px 0;
	color: white;
	gap: 30px;
	align-items: center;
}
.mobile-card> a {
	text-decoration: none;
}
.mobile-sum {
	font-weight: bold;
	font-size: 22px;
}
.mobile-quatity {
	font-size: 16px;
	text-align: center;
	margin-top: 7px;
	color: #050505;
	height: 25px;
	background: darkorange;
	border-radius: 15px;
	width: 25px;
}
.mobile-menu {
	position: fixed;
	height: 100%;
	overflow: auto;
	top:0;
	/*position: absolute;*/
	width: 100%;
	z-index: 99;
	display: none;
	background: rgb(246, 215, 215);
	
	/*overflow: auto;*/
}
.menu-content {
	padding-left: 30px;
	padding-top: 70px;
	color: #ce0101;
}
.content-menu-top {
	display: flex;
	gap: 20px;
	flex-direction: column;
}
.mobile-phone {
	font-size: 22px;
	font-weight: 500;
}
.mobile-text-time {
	display: flex;
	width: 200px;
	gap: 10px;
}
.mobile-text-time > i {
	font-size: 22px;
}
.promo-mobile {
	display: flex;
	align-items: center;
	padding-bottom: 7px;
	border-bottom: 1px solid red;
	width: 180px;
}
.promo-mobile > input {
	border: none;
	background: inherit;
	outline: none;
	width: 150px;
}
.promo-mobile > input::placeholder {
	color: rgba(236, 2, 2, 0.41);
}
.promo-mobile > button{
	border: none;
	background: #f1a1a1;
	width: 30px;
	height: 30px;
	color: #C00000;
	border-radius: 50%;
}
.mobile-nav-item {
	list-style-type: none;
	border-bottom: rgba(177, 52, 52, 0.65) 1px solid;
	width: 85vw;
	padding: 10px 0;
}
.mobile-nav > ul {
	padding: 0;
	margin-top: 20px;
}
.mobile-nav-item > a {
	text-decoration: none;
	color: #C00000;
	font-size: 22px;

}
.content-logo-close {
	display: flex;
	justify-content: space-between;
}
.bi-x {
	font-size: 54px;
	margin-right: 1vw;
}

@media (max-width: 600px){
	.promo-mobile {
		width: 85vw;
	}
	.promo-mobile >input {
		display: block;
		width: 75vw;
	}
}
.content-menu-bottom {
	display: flex;
	flex-direction: column;
	gap: 10px;

}
.geo-content {
	display: flex;
	align-items: center;
	font-size: 15px;
	gap: 10px;
}
.geo-content > i {
	font-size: 32px;
}
.info-nav-content-mobile > ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 0;
}
.info-nav-mobile {
	list-style-type: none;

}
.info-nav-mobile > a {
	text-decoration: none;
	color: #C00000;
	font-weight: 500;

}
button {
	outline: none;
}
.modal-promo, .modal-img {
	top:0;
	background: rgba(5, 5, 5, 0.29);
	width: 100%;
	align-items: center;
	position: fixed;
	height: 100%;
	display: none;
	z-index: 999;
}

.modal-img .modal-content {
    padding-bottom: 0px;
    max-width: 700px;
    width: 80vw;
}

.close-modal-img {
    color: white !important;
}

.modal-body {
	display: flex;
	justify-content: center;
}
.modal-content {
	background: #ffffff;
	width: 600px;
	padding-bottom: 40px;
}
.close-block-modal {
	justify-content: flex-end;
}
.close-modal-promo, .close-modal-img {
	font-size: 34px;
	color: rgba(128, 128, 128, 0.78);
	transition: 0.3s;
}
.close-modal-promo:hover {
	color: rgba(236, 2, 2, 0.56);
}
.promo-info-text {
	width: 75%;
	margin: 0 auto;
	padding: 10px;
	border: rgba(238, 4, 4, 0.85) 1px solid;
}
.text-promo-info {
	color: #C00000;
	text-align: center;
	margin: 0;
	font-size: 17px;
}
.text-promo-info-bottom {
	text-align: center;
	margin: 0;
	font-size: 14px;
}
.social-links-mobile {
	font-size: 30px;
	display: flex;
	gap: 20px;

}
.social-links-mobile > a {
	color: #C00000;
}
.login-link {
	margin-left: 20px;
}
.login-link-item {
	font-size: 40px;
	color: #C00000;
}
.buttons-header-mob {
	gap: 30px;
}
@media (max-width: 650px) {
	.modal-content {
		width: 420px;
	}
	.buttons-header-mob {
		gap: 10px;
	}

}
@media (max-width: 460px) {
	.modal-content {
		width: 280px;
	}
	.text-promo-info {
		font-size: 15px;
	}
	.open-burger {
		margin-right: 10px;
	}
	.logo-mobile {
		margin-left: 20px;
	}
}

@media (max-width: 400px) {
    .modal-img .modal-content {
	    width: 90vw;
    }
}
