@font-face {
    font-family: Montserrat-Regular; /* Имя шрифта */
    src: url(../fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: Montserrat-Bold; /* Имя шрифта */
    src: url(../fonts/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: Montserrat-Italic; /* Имя шрифта */
    src: url(../fonts/Montserrat-Italic.ttf); /* Путь к файлу со шрифтом */
   }

body{
	/*font-family: Montserrat-Regular;*/

	font-family: 'Source Sans Pro', sans-serif;
	/*background: url('/static/image/fon.png');*/
}




::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #143861;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #FF3232;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FF6D6D;
}

::-webkit-scrollbar-track {
    background: #FF6D6D; /* цвет фона у дорожки */
    /*box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset; /* тень у дорожки */*/
}  

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: #FF6D6D,
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #FF6D6D;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: #FF6D6D,
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #FF6D6D;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background: #FF6D6D,
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #FF6D6D;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background: #FF6D6D,
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #FF6D6D;
}




/*body{*/
		/*font-family: Montserrat-Regular;*/
/*}*/

main{
	/*background: url('/static/image/fon.png');*/
	background: url('/static/image/j-2048x1000_c.jpg');
	background-attachment: fixed;
	color: white;

}

p::selection{
	background: #FFB87A;
}

li::selection{
	background: #FFB87A;
}

h1::selection{
	background: #FFB87A;
}

h2::selection{
	background: #FFB87A;
}

h3::selection{
	background: #FFB87A;
}

h4::selection{
	background: #FFB87A;
}

h5::selection{
	background: #FFB87A;
}

h6::selection{
	background: #FFB87A;
}

/*fffffffffffffffffffffffffffffffff*/


.modal-img-item {
    display: block;
    width: 100%;
    height: 100%;
}
.close-block-modal-img {
    position: relative;
    margin-top: -51px;
}

.name__kategiry__card{
	color: #CCCCCC;
}

.main__center__card{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.container-big {
	max-width: 1250px;
}

.container-super{
	width: 1340px;
}

.name__kategiry__card{
	margin-bottom: 20px;
	text-align: center;
	/*font-size: 32px;*/
}

.row__main__card{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
	align-content: stretch;
}

.card__main{
	/*margin-top: 20px;*/
	/*background: black;*/
	background: rgb(255, 49, 49, 0.3);
	color: white;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 400px;
	min-width: 400px;
	min-height: 440px;
	border: solid 3px black;
	border-radius: 10px;
}

.card__main img{
	border: solid 3px #000;
	width: 250px;
}

.card__main img:hover{
	border: solid 1px #FF6123;
}

.row__card{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
}

.card__price{
	font-size: 24px;
	font-weight: 500;
}

.card__weight{
	color: #9F9F9F;
}

.product__quantity{
	display: flex;
}

.input__quantity{
	outline: none;
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	text-align: center;
	width: 40px;
}

.colvo{
	border: none;
	margin: auto 5px;
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	background-color: #e87c7c;
}

.colvo:hover{
	background-color: #e87c7c;
}

.btn__card{
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #de4f4f;
}

.btn__card:hover{
	background-color: #de4f4f;
}

.card__name{
	font-weight: 800;
	margin-bottom: 20px;
}

.box__main__info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;	
	text-align: center;
}
@media screen and (max-width: 800px) {
.box__main__info {
	text-align: right;
	justify-content: unset;


}

.card__name {
	font-size: 14px;
	line-height: 20px
}
.card__main {
	align-items: flex-start;
	/*border: solid 1px white;*/
}
.card__main > img {
	margin-top: 10px;
	max-width: 180px
	width: 150px
}
}
.bbge {
	width: 100%;
}
@media screen and (max-width: 800px) {
	.card__main{
		flex-direction: row;
		/*max-height: 50px;*/
		min-height: 200px;
	}

	.card__main img{
		width: 150px;
	}

	.box__main__info{
	}

	.text__info__card{
		font-size: 10px;
		/*overflow: hidden;*/
		/*text-overflow: ellipsis;*/
	}

	.card__name{
		margin-bottom: 5px;
	}

	.btn__card, .card__weight{
		font-size: 12px;
	}

	.card__price{
		font-size: 18px;
	}
}


@media screen and (max-width: 350px) {
	.card__main img{
			width: 100px;
		}
		.product__quantity {
	position: relative;
	left: -45%;
}
}	
/*ffffffffffffffffffffffffffffff*/

.form-input{
	border: 1px solid #cccccc;
	border-radius: 10px;
	width: 100%;
	height: 30px;
	background: #ffffff !important;
}
.form-input:focus{
	border: 1px solid #cccccc;
	border-radius: 10px;
}

.submit-btn{
	font-family: Montserrat-Regular;
	font-size: 20px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	background: #E5C471 !important;
}

.con{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*.basket{
	width: 50px;
	background-color: #E5C471;
	background-image: url(../image/ico/cart.svg);
	border-radius: 10px;
}*/

.cart{
	width: 20%;
}

.container-title{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.box-title{
	text-align: center;
	width: 33%;
}

.container-title #logo{
	width: 40%;
}

.container-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box-form{
	margin: 5px;
	text-align: left;
	width: 33%;
}

/*del posit*/
.container-form-del{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.title_thank {
    text-align: center;
    font-weight: 500;
    font-size: 45px;
    margin-top: 60px;
}
.accessed_order {
    text-align: center;
    font-size: 24px;
    margin-top: 18px;
}
.return-main {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.return-main > a {
    color: black;
}
@media (max-width: 416px) {
    .title_thank {
        font-size: 28px;
    }
    .accessed_order {
        font-size: 19px;
    }
    .return-main {
        font-size: 19px;
    }
}


.cont__row__del{
	display: flex;
	justify-content: space-between;
}

.cont__row__del img{
	width: 200px;
	height: 200px;
}

.del__info__cont{
	display: flex;
	width: 100%;
}

.inf__del__posit{
	display: flex;
	flex-direction: column;
}

.del__info__act{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	justify-content: space-between;
}

.del__info__act a{
	background-color: #F87878;
	border-radius: 20px;
	padding: 15px;
}


/*del posit*/

/*personal*/
.container-big {
	max-width: 1250px;
}

.personal__bonus__main{
	box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);
	/*background-color: #E5E5E5;*/
}

.personal__bonus__main h2{
	/*font-size: 20px;*/
	padding: 15px;
}

.personal__bonus{
	/*background-color: #E5E5E5;*/
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: center;
	gap: 15px;
}

.card__bonus__personal{
	margin: 10px;
	background-color: #F8F8F8;
	box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	width: 200px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.info__card__bonus{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__bonus__personal h2{
	/*font-size: 20px;*/
	color: #84E38A;
}

.card__bonus__personal h3{
	color: #FF985C;
	text-align: center;
}

.card__bonus__personal p{
	font-weight: 500;
	color: #868686;
}

.personal__info__klient{

}

.personal__info__klient h2{
	padding: 15px;
}

.personal__actions__klkient{
	display: flex;
	padding: 15px;
	gap: 15px;
}

/*personal*/

/*control*/

.ct-flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sentr{
	justify-content: center;
}

.has-text-align-center{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}

.name_cont{
	margin-top: 50px;
	font-weight: 800;
}

.highlight{
	font-size: 16px;
}

.bi .bi-chat-left{
	font-size: 70px;
}

.contrl__info_top{
	font-size: 18px;
	text-align: center;
}

.contrl__info_top__row{
	flex-wrap: wrap;
	justify-content: space-around;
}

.contrl__info_top__row .col-lg-4{
	min-width: 220px;
}

.fmz{
	border-radius: 10px;
	padding: 0px 25px;
	padding-bottom: 40px;
	margin-bottom: 60px;
	background-color: #f7f7f7;
}

.fmz label{
	margin-top: 40px;
	font-size: 18px;
	color: #898989;
}

.fmz select{
	padding: 0 10px;
	border-radius: 10px;
	height: 40px;
	width: 100%;
}

.fmz select optgroup{
	width: 250px;
}

.fmz .inp{
	border: solid 1px #767676;
	padding: 0 10px;
	border-radius: 10px;
	height: 40px;
	width: 100%;
}

/*.sentr form input:hover{
	border-radius: 10px;
	border: solid 1px #5E5E5E;
}*/

.fmz textarea{
	border: solid 1px #767676;
	padding: 0 10px;
	border-radius: 10px;
	height: 150px;
	width: 100%;
}

.fmz .check__box{
	margin-top: 10px;
	width: 20px;
	height: 20px;
}

.fmz .sub__btn{
	border: none;
	border-radius: 10px;
	background-color: #FF5B5B;
	padding: 10px 20px;
	color: white;
}

.fmz .name_cont{
	padding-top: 20px;
}

@media screen and (max-width: 740px) {
	.contrl__info_top{
		font-size: 16px;
	}

	.contrl__info_top__row .bi, .contrl__info_top__row .svg-inline--fa{
		/*align-items: center;*/
		width: 110px;
		height: 110px;
	}
}

@media screen and (max-width: 989px) {
	.contrl__info_top__row{
		flex-direction: row;
	}

	.contrl__info_top__row .col-lg-4{
		width: 33%;
	}
}

@media screen and (max-width: 660px) {
	.contrl__info_top__row .col-lg-4{
		width: 50%;
	}
}

@media screen and (max-width: 440px) {
	.contrl__info_top__row .col-lg-4{
		width: 100%;
	}
}

/*control*/

/*job*/

.name_cont_job{
	margin-top: 20px;
	font-weight: 800;
}

/*@media screen and (max-width: 1015px) {
	.srt{
		flex-direction: column;
		align-items: center;
	}
}*/

/*job*/

/*contact*/


/*delivery*/

.scli{
	font-size: 18px;
	list-style-type: disc;
	list-style-position: inside;
}

.imlf{
	display: flex;
	justify-content: center;
}

.delivery__var_zak{
	flex-wrap: wrap;
	justify-content: space-around;
}

/*delivery*/

.delivery__var_zak .col-lg-4{
	min-width: 320px;
}

.contact__img{
	width: 100%;
	color: #444;
}

.spec__card__main{
	justify-content: space-around;
}

.spec__card__main img{
	width: 100%;
}

@media screen and (max-width: 992px){
	.delivery__var_zak{
		flex-direction: row;

	}

	.delivery__var_zak .col-lg-4{
		width: 33%;
	}
}

.wp-block-columns{
	max-width: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.ssl__inf__del{
	margin-top: 80px;
}

/*@media screen and (max-width: 991px) {
	.col-lg-2{
		width: 17%;
	}

	.col-lg-10{
		width: 83%;
	}

	.thty{
		flex-direction: row;
	}
}

@media screen and (max-width: 991px) {
	.col-lg-2{
		width: 100%;
	}

	.col-lg-10{
		width: 100%;
	}

	.thty{
		flex-direction: column;
	}
}*/
/*contact*/

@media screen and (max-width: 991px) {
	.box-form{
		width: 50%;
	}

	.container-title #logo{
		width: 60%;
	}

	.cont__row__del{
		flex-direction: column;
	}
}

@media screen and (max-width: 767px) {
/* стили для средних планшетов - начало */

}

@media screen and (max-width: 650px) {
	.box-form{
		width: 80%;
	}
}

@media screen and (max-width: 479px) {
	.container-title{
		flex-direction: column;
		align-items: center;
	}

	.box-title{
		width: auto;
		display: inline-block;
		vertical-align: top;
	}
}

@media screen and (max-width: 479px) {
	.submit-btn{
		font-size: 15px;
	}
}

@media screen and (max-width: 390px) {
	.card__main{
		min-width: 100%;
	}
}

.input__quantity::-webkit-outer-spin-button,
.input__quantity::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.slider {
	overflow-x: hidden;
	width: 76%;
	max-width: 1412px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	height: 20vw;
	max-height: 320px;
	gap: 30px;
}
.slides {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.slide > a {
	display: block;
	width: 100%;
	height: 100%;
}
.slide {
	min-width: 100%;
	max-width: 1300px;
	background-repeat: no-repeat !important;
	background-size: 100% !important;
}
.slider-btn {
	font-size: 26px;
	z-index: 99;
	color: #C00000;
}
.slide:first-child {
	transition: 1.5s;
	/*margin-left: calc(-100% - 100px);*/
}

@media screen and (max-width: 1100px) {
	.slider{
		display: none !important;
	}
}
