.title {
    margin-top: 70px;
    margin-bottom: 50px;
}
.table-text {
    font-weight: 700;
    margin-bottom: 10px;
}
.row-top-table > div {
    padding: 0;
}
.row-table {
    gap: 3px;
    flex-wrap: nowrap !important;
}
.row-table > div{
    border-bottom: 1px solid #767575;
    padding-left: 0;
    padding-right: 0;
    padding: 7px 0;
}
.prod-content {
    gap: 10px;
}
.prod-count {
    font-weight: bold;
}
.row-delivery > div {
    padding: 0;
    margin-top: 30px;
}
.delivery-select {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.delivery-select > div {
    display: flex;
}
.total-row > div{
    border-bottom: 1px solid #767575;
    border-top: 1px solid #767575;
    padding-left: 0;
    padding-right: 0;
    padding: 10px 0;
}
.total-row {
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: nowrap !important;
}
.total-text {
    font-size: 18px;
    font-weight: bold;
}
.row-form {
    margin-top: 50px;
}
.row-form > div {
    padding: 0;
    padding-left: 30px;
    padding-top: 40px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.16)
}
.title-form {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}
@media (max-width: 1000px) {
    .row-table > div:first-child {
        width: 60vw;
    }
    .row-table > div:last-child{
        width: 25vw;
    }
    .total-row > div:first-child {
        width: 60vw;
    }
    .total-row > div:last-child{
        width: 25vw;
    }
    

}
@media (max-width: 579px) {
    .row-table {
        justify-content: center;
    }
    .total-row {
        justify-content: center;
    }
    .row-delivery {
        padding-left: 7vw;
    }
    .delivery-select > div > label {
        font-size: 12px;
        width: 300px;
    }
}

.delivery-select > div > input[type=radio] {
    display: none;
}
.delivery-select > div > label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;

}
.delivery-select > div > label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-radius: 50%;
    background: #fcfcfc;
    border: 1px solid #7b7b7b;
    width: 22px;
    height: 22px;

}
.order-input{
    margin-left: 100px;
    width: 250px;
    outline: none;
    font-size: 14px;
    padding: 3px 2px;
}
.order-input:focus {
    outline: #ec0202 1px solid;
}
.form-block > div > div {
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.form-block > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 30px;
}
.form-block {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}
abbr {
    color: #ec0202;
    margin-left: 4px;
}
.row-time {
    justify-content: space-between;
}
.row-form > .col-lg-6 {
    width: 47%;
    padding-bottom: 30px;
}
.time-select {
    display: flex !important;
    flex-direction: row !important;
    width: 350px !important;
}
.payment-select {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
@media (max-width: 1200px) {
    .order-input {
        margin-left: 4vw;
    }
    .form-block > div > div {
        width: 38vw;
    }
}
@media (max-width: 991px)  {
    .form-block > div > div {
        width: 80%;
    }
    .form-block {
        flex-direction: column;
    }
    .row-form {
        width: 85vw;
    }

}
@media (max-width: 893px) {
    .row-time {
        flex-direction: column;
        gap: 20px;
    }
    .row-time > .col-lg-6 {
        width: 100%;

    }
}
@media (max-width: 767px) {
    .container-order {
        max-width: 90%;
    }
}
@media (max-width: 612px) {
    .form-block > div > div {
        width: 100%;
    }
    .order-input {
        width: 200px;
    }
}
@media (max-width: 442px) {
    .form-block {
        padding-right: 20px;
    }
    .row-form > div {
        padding-left: 5vw;
    }

}
@media (max-width: 392px) {
    .time-select {
        width: 90% !important;
    }
    .order-input {
        width: 140px;
    }
    .container-order {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .row-form {
        width: 90vw;
        margin-left:  auto;
        margin-right:  auto;
    }
    .time-select {
        flex-direction: column !important;
        gap: 20px !important;
    }
}
/* Checked */
#meeting-time {
    outline: none;
}
.payment-select > div > input[type=radio] {
    display: none;
}
.payment-select > div > label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;

}
.payment-select > div > label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-radius: 50%;
    background: #fcfcfc;
    border: 1px solid #7b7b7b;
    width: 22px;
    height: 22px;

}
.payment-select > div > input[type=radio]:checked + label:before {
    background: url("../image/radio.png");
    border: none;
}
.time-select > div > input[type=radio] {
    display: none;
}
.time-select > div > label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;

}
.submit_block > div {
    display: flex;
    justify-content: flex-end;
    padding-right: 15vw;
}
.time-select > div > label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-radius: 50%;
    background: #fcfcfc;
    border: 1px solid #7b7b7b;
    width: 22px;
    height: 22px;

}
.time-block {
    flex-direction: column;
}
.time-select > div > input[type=radio]:checked + label:before {
    background: url("../image/radio.png");
    border: none;
}


.time-select > div > label:hover:before {
    filter: brightness(120%);
}
.time-select > div >  input[type=radio]:disabled + label:before {
    filter: grayscale(100%);
}

.delivery-select > div > input[type=radio]:checked + label:before {
    background: url("../image/radio.png");
    border: none;
}

/* Hover */
.delivery-select > div > label:hover:before {
    filter: brightness(120%);
}

/* Disabled */
.delivery-select > div >  input[type=radio]:disabled + label:before {
    filter: grayscale(100%);
}
.fmz .check__box{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
#agree {
    margin-right: 12px;
}
.label_agree > a {
    color: #050505;
}
.submit_block {
    margin-top: 20px;
}
.submit_block > div > button {
    border: none;
    margin-top: 50px;
    padding: 12px 30px;
    color: white;
    border-radius: 12px;
}
.submit_order {
    outline: none;
}

#order-note{
    outline: none;
}


.input-pay-scores {
    width: 100px;
    height: 30px;
    outline: none;
}
input[type=checkbox] {
    outline: none;
}
@media (max-width: 642px) {
    .bonus_block-act {
        flex-direction: column;
        gap: 20px !important;
    }
}
#scores-use {
    margin-right: 11px;
}
.bonus_block-act {
    display: flex;
    gap: 50px;
    height: 30px;
}
.scores-wrapper {
    display: flex;
    gap: 20px;
}
.count-scores {
    margin-bottom: 20px;
}
.count-scores > span {
    font-weight: 500;
}
