{% extends "base.html" %}
{% block title %}Корзина{% endblock %}
{% block link %}<link rel="stylesheet" href="static/css/basket.css">{% endblock %}
{% block content %}
<section class="basket-section">
  <div class="container">
    <h1 class="title-basket-section">Корзина</h1>
    <div class="basket-info" style="margin-bottom: 50px;">
      <p class="basket-empty-text">
        Ваша корзина пока пуста.
      </p>
      <a href="/" class="return-main-page">Вернуться в магазин</a>
    </div>
  </div>
  <div class="container basket-container">

  </div>
  <div class="container bonus-description">

  </div>
  <div class="container additional-container">
        <h1 class="title-additional">Попробуйте также:</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="basket-carousel">
                    <div class="button-prev button-carousel">
                        <i class="bi bi-chevron-left button-prev"></i>
                    </div>
                    <div class="carousel-wrapper d-flex">

                    </div>
                    <div class="button-next  button-carousel">
                        <i class="bi bi-chevron-right button-next"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="container total-container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <div class="register-product d-flex">

          <div class="total-sum d-flex">
            Итого: <span>0  ₽</span>
            <div class="total-sum-discount">

            </div>
          </div>
          <a href="/order" class="link-goods-reg">
            <div class="btn-goods-reg">
              Оформить заказ
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}<script src="{{ url_for('static', filename='js/Basket.js') }}"></script>
<script src="{{ url_for('static', filename='js/Basket_add.js') }}"></script>{% endblock %}
