<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Редактирование профиля</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Главная</a>
        <a class="navbar-brand" href="/profile">Профиль</a>
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
<div style="padding-left: 15px">
{%if current_user.photo%}
  <!-- {{current_user.photo}} -->
{%else%}
  <img src='static/image/user.png' width="180" height="180">
{%endif%}
<form action="" method=post enctype=multipart/form-data>
  <div class="form-group">
          <label>Выберите фото профиля</label>
          <input type="file" name="file" class="form-control-file" id="exampleFormControlProject1" required>
        </div>
        <button type=submit value=Upload class="btn btn-primary">Загрузить</button>
</form>
<h4>{{current_user.name}} {{current_user.apprentice}} {{current_user.patronymic}}</h4>
<h4>Электронная почта: {{current_user.email}}</h4>
{% if current_user.dob %}
  <h4>Дата рождения: {{current_user.dob}}</h4>
{% else %}
<h4>Дата рождения: <a class="btn" href="add_dob">Указать дату рождения</a></h4>
{% endif %}
{% if current_user.roles %}
<h4>Права на сайте: {{current_user.roles}}</h4>
{% endif %}
</div>
</main>
<script defer src="../static/js/main.js"></script>
</body>
</html>
