{% extends "base.html" %}
{% block title %}Работа{% endblock %}
{% block content %}
<div class="container container-big">
	<h1 class="name_cont">Вакансии</h1>
	<h3>РАБОТА В REDFISH - ЭТО:</h3>
	<ul style="margin: 30px 0">
		<li>Достойная заработная плата и своевременные выплаты;</li>
		<li>Карьерный рост в развивающейся компании;</li>
		<li>Стабильный график;</li>
		<li>Питание на рабочем месте за счёт компании;</li>
		<li>Доставка до дома после рабочего дня за счёт компании;</li>
		<li>Дружный коллектив;</li>
		<li>Оплачиваемое обучение;</li>
		<li>Скидки на продукцию компании;</li>
	</ul>
	<div class="row srt">
		<div class="col-lg-5 ct-flex" style="align-items: flex-start;">
			<h3 class="name_cont">ОТКРЫТЫЕ ВАКАНСИИ:</h3>
			<div class="jobs ct-flex" style="align-items: flex-start;">
				<h4 class="name_cont_job">ВОДИТЕЛЬ-КУРЬЕР</h4>
				<p><strong>Обязанности:</strong> развоз заказов, развоз персонала;</p>
				<p><strong>Требования:</strong> стаж вождения не менее 2-х лет, наличие личного автомобиля, опрятный внешний вид, вежливое общение;</p>
				<p><strong>Условия:</strong> график 2\2 с 11:30 до 23:30, выплаты ежедневно;</p>
			</div>
			<hr style="width: 150px; border: solid 2px black; border-radius: 1px;">
			<div class="jobs ct-flex" style="align-items: flex-start;">
				<h4 class="name_cont_job">ПОВАР-УНИВЕРСАЛ</h4>
				<p><strong>Обязанности:</strong> приготовление блюд согласно технологии, контроль отпускаемых блюд, составление заявок, соблюдение чистоты на рабочем месте;</p>
				<p><strong>Требования:</strong> санитарная книжка;</p>
				<p><strong>Условия:</strong> график 2\2 с 11 до 23, обучение, питание, развоз;</p>
			</div>
			<hr style="width: 150px; border: solid 2px black; border-radius: 1px;">
			<div class="jobs ct-flex" style="align-items: flex-start;">
				<h4 class="name_cont_job">ПОМОЩНИК ПОВАРА</h4>
				<p><strong>Обязанности:</strong> Контроль сервиса в зале, расчет на кассе, приём звонков и заказов, работа за компьютером, открытие/закрытие смены, работа с документацией, решение конфликтных ситуаций в зале, умение быстро реагировать на разные задачи;</p>
				<p><strong>Требования:</strong> Опыт работы приветствуется, умение разговаривать по телефону и принимать заказы, умение работать в команде. Высокая обучаемость, стрессоустойчивость, коммуникабельность, ответственность, честность, пунктуальность;</p>
				<p><strong>Условия:</strong> Оплата по результатам собеседования, % от выручки, питание, график 2/2, Приятный и понимающий коллектив, развоз;</p>
			</div>
			<hr style="width: 150px; border: solid 2px black; border-radius: 1px;">
			<div class="jobs ct-flex" style="align-items: flex-start;">
				<h4 class="name_cont_job">АДМИНИСТРАТОР</h4>
				<p><strong>Обязанности:</strong> приготовление полуфабрикатов и блюд согласно технологии, соблюдение чистоты на рабочем месте.;</p>
				<p><strong>Требования:</strong> санитарная книжка;</p>
				<p><strong>Условия:</strong> график 2\2 с 11 до 23, обучение, питание, развоз;</p>
			</div>
		</div>
		<div class="col-lg-7">
			<form action="/job" method="post" class="fmz">
				<h4 class="name_cont">ЗАПОЛНИ ФОРМУ И НАЧНИ ЗАРАБАТЫВАТЬ ВМЕСТЕ С НАМИ!</h4>
				<label for="position">Должность*</label><br>
				<select name="position">
					<option value="---">---</option>
					<option value="ВОДИТЕЛЬ-КУРЬЕР">ВОДИТЕЛЬ-КУРЬЕР</option>
					<option value="ПОВАР-УНИВЕРСАЛ">ПОВАР-УНИВЕРСАЛ</option>
					<option value="ПОМОЩНИК ПОВАРА">ПОМОЩНИК ПОВАРА</option>
					<option value="АДМИНИСТРАТОР">АДМИНИСТРАТОР</option>
				</select><br>
				<label for="name">Имя*</label><br>
				<input type="text" name="name" class="inp" required><br>
				<label for="big_name">Фамилия*</label><br>
				<input type="text" name="big_name" class="inp" required><br>
				<label for="marital_status">Семейное положение*</label><br>
				<input type="text" name="marital_status" class="inp" required><br>
				<label for="age">Возраст*</label><br>
				<input type="number" name="age" class="inp" required><br>
				<label for="experience">Дети*</label><br>
				<select name="children">
					<option value="---">---</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="Более 3">Более 3</option>
				</select><br>
				<label for="experience">Опыт*</label><br>
				<textarea name="experience" required></textarea><br>
				<label for="tel">Номер телефона*</label><br>
				<input type="tel" id="phone" required value name="tel" placeholder="+7 (___) ___-__-__" data-mask="+7 (___) ___-__-__" class="inp"><br>
				<span>
					<input type="checkbox" name="agreement" class="check__box"> Даю согласие с условиями хранения своих персональных данных.*
				</span><br>
				<p>Ознакомтесь <a href="/privacy-policy">подробнее</a> с нашей политикой безопасности</p><br>
				<input type="submit" value="Отправить" class="sub__btn">
			</form>
			{{ message }}
		</div>
	</div>
</div>
<script>
$(function(){
  $("#phone").mask("+7(999) 999-9999");
});
</script>
{% endblock %}
