{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="modal-img">
    <div class="modal-body">
        <div class="modal-content modal-content-image">
            <div class="close-block-modal close-block-modal-img d-flex">
                <i class="bi bi-x close-modal-img"></i>
            </div>
            <img src="" alt="" class="modal-img-item">
        </div>
    </div>
</div>
		<div class="main__center__card">
			<div class="container-big">
				<h1 class="name__kategiry__card" id="pizza">{{ name_kateg.name }}</h1>
				<div class="row__main__card">
					{% for i in positions %}
						{% set url_link = 'Image_positions/'+i.photo %}
						<div class="card__main" id="a_{{ i.id }}">
								<img id="picture_a_{{ i.id }}" src="{{ url_for('static', filename=url_link) }}" alt="">
								<div class="box__main__info">
									<!-- <div class="toot"> -->
										<p class="card__name title_a_{{ i.id }}">{{ i.name }}</p>
										<p class="text__info__card">{{ i.structure }}</p>
									<!-- </div> -->
									<!-- <div class="bbge"> -->
									<div class="row__card">
										<p class="card__price price_a_{{ i.id }}">{{ i.price }} р</p>
										<p class="card__weight weight_a_{{ i.id }}">{{ i.weight }} г</p>
									</div>
									<div class="row__card">
										<div class="product__quantity">
											<button class="colvo minus">-</button>
											<input type="number"
						   min="1" name="quantity" value="1" id="i_a_{{ i.id }}" class="input__quantity">
											<button class="colvo plus">+</button>
										</div>
										<button class="btn__card in_basket_a_{{ i.id }}">В корзину</button>
									</div>
									<!-- </div> -->
								</div>
							</div>
					{% endfor %}
				</div>
			</div>
		</div> 
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/modal_img.js') }}"></script>
<script src="{{ url_for('static', filename='js/AddToBasket.js') }}"></script>
{% endblock %}
