{% extends "base_admin.html" %}
{% block title %}список пользователей{% endblock %}
{% block content %}
<div class="list-group">
{% for i in user %}
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ i.name }} id: {{ i.id }}</h5>
      <small>{{ i.created_date }}</small>
    </div>
    <!-- <p class="mb-1"></p> -->
    <small>{{ i.email }}</small>
  </a>
  <br>
{% endfor %}
</div>
{% endblock %}
