{% extends "base_admin.html" %}
{% block title %}Заказы для приготовленния{% endblock %}
{% block content %}
{{ massage }}
<div class="container">
	{% if orders %}
		<div class="list-group">
		{% for i in orders %}
		<div class="btrc">
			<div style="margin-top: 20px;">
				<a href="/historyOredersCrope/{{ i.id }}" class="list-group-item list-group-item-action flex-column align-items-start active">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ i.name_klient }}, внутренний id: {{ i.back_id }}</h5>
					<small>{{ i.times_orders }}</small>
				</div>
				<p class="mb-1">{{ i.structure }}</p>
				<p class="mb-1">{{ i.order_note }}</p>
				<small>{{ i.phone_number }} {{ i.payment_method }} {{ i.adress }}, Время: {% if i.execution_speed == 'fast' %} быстро {% else %} {{ i.execution_speed }} {% endif %}, использованные баллы: {{ i.scores }}, сумма заказа: {{ i.summ }}</small>
				</a>
			</div>
			<a href="/control/del-order/{{ i.id }}" style="color: black; padding: 5px 10px; background-color: #FF5454;"><strong>Готово</strong></a>
		</div>
		{% endfor %}
		</div>
	{% else %}
	<h1>Заказов нет</h1>
	{% endif %}
	</div>
	<script>
		setTimeout(() => location.reload(), 30000)
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}
