{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
<div class="container container-big">
	<div class="personal__bonus__main">
		<h2>Мои бонусы</h2>
		<div class="personal__bonus">
			{% if pes_cod %}
				{% for i in pes_cod %}
					{% if i.status != False %}
						<div class="card__bonus__personal">
							<h3>Бонус за регистрацию</h3>
							<div class="info__card__bonus">
								<h2>Код купона</h2>
								<h2>{{ i.coupon }}</h2>
							</div>
							<div class="info__card__bonus">
								{% if i.discount != None %}
									<p>Даёт скидку {{ i.discount }}%</p>
								{% endif %}
								{% if i.description != None %}
									<p>Даёт бесплатную пиццу</p>
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				<div class="card__bonus__personal">
					<h3>У вас пока нет бонусов</h3>
					<div class="info__card__bonus">
					</div>
					<div class="info__card__bonus">
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="personal__info__klient">
		<h2>Мои баллы: {{ scores }}</h2>
		<h2>Личные данные</h2>
	</div>
	<div class="personal__actions__klkient">
		<a href="/logout"><button type="button" class="btn btn-secondary">Выйти</button></a>
		{% if current_user.is_authenticated and current_user.roles == 'admin' %}
		<a href="/admins-cont"><button type="button" class="btn btn-secondary">Админ панель</button></a>
		{% endif %}
	</div>
</div>
{% endblock %}
