<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Профиль</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Главная</a>
        <a class="navbar-brand" href="/schedule">расписание</a>
        <a class="btn btn-primary" href="/edit-profile">Редактирование профиля</a>
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
<div style="padding-left: 15px">
{%if current_user.photo%}
    <img src="../static/user_folder/{{current_user.photo}}/profile_image.jpg" width="180" height="180">
{%else%}
    <img src='static/image/user.png' width="180" height="180">
{%endif%}
<h4>{{current_user.name}} {{current_user.apprentice}} {{current_user.patronymic}}</h4>
<h4>Электронная почта: {{current_user.email}}</h4>
{% if current_user.dob %}
    <h4>Дата рождения: {{current_user.dob}}</h4>
{% else %}
<h4>Дата рождения: <a class="btn" href="add_dob">Указать дату рождения</a></h4>
{% endif %}
{% if current_user.roles %}
<h4>Права на сайте: {{current_user.roles}}</h4>
{% endif %}
<h4>Класс: {{student.name_klass}}</h4>
</div>
</main>
</body>
</html>
