{% extends "base.html" %}

{%block content%}
<div style="padding-left: 15px">
<h2>{{school.name_schools}}</h2>
<h4>id школы: {{school.id}}</h4>
{% if school.director %}
<h4>Директор школы: {{director.apprentice}} {{director.name}} {{director.patronymic}}
{% if current_user.roles == "admin" %}
<a class="btn" href='/control-director/{{director.id}}/del'>Удалить директора этой школы</a>
{% endif %}
</h4>
<h4>Электронная почта директора: {{director.email}}</h4>
{% else %}
<h4>Директор школы: нет</h4>
{% endif %}
<h4>Классы в школе:</h4>
{% for i in klass %}
<div class="col-md6 border rounded">
        <div style="padding-left: 17px">
            <p>{{ i.name_klass }}</p>
        </div>
    </div>
{% endfor %}
<!--
здесь будет перечисление классов
и если текущмй пользователь будет админом,
то каждый класс будет кнопкой открывающий состав класса
-->
</div>
{% endblock %}
