{% extends "base.html" %}
{% block title %}Спасибо за заказ{% endblock %}
{% block content %}
<div class="thank">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title_thank">
                        Ваш заказ принят.
                    </div>
                    <div class="accessed_order">
                        Желаем приятного аппетита!
                    </div>
                    <div class="return-main">
                        Вернуться на <a href="/">главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
